<!DOCTYPE html>
<html lang="en" ng-app="hello">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
    }
</style>
<body ng-cloak>
    <div ng-controller="MainCtrl as main">
        {{main.text}}
    </div>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>